.container {
    min-height: 550px
}

table {
    & .btn-icon {
        padding: 0.1rem 0.5rem;
        font-size: small;
    }
}

button {
    display: block;
}

footer.footer {
    background-color: #666;
    height: 80px;
}