.container {
    min-height: 540px
}

.row {
    display: flex;
}

table {
    & .btn-icon {
        padding: 0.1rem 0.5rem;
        font-size: small;
    }
}

button {
    display: block;
}

h3 {
    color: beige;
    margin-left: 30px;
    font-size: large;
}

footer.footer {
    min-height: 80px;
    background-color: #666;
}